body {
    background-color: #7c3f58;
    font-family: 'Courier New', Courier, monospace;
    min-height: 100vh;
    
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
}

.menu {
    width: 200px;
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

button {
    width: 150px;
    height: 50px;
    background-color: #f9a875;
    color: #7c3f58;
    border: 2px solid #fff6d3;
    border-radius: 10px;
    font-family: inherit;
    font-size: 15px;
}

button.pressed {
    background-color: #fff6d3;
    border-color: #f9a875;
    color: #f9a875;
}

h2 {
    font-size: 18px;
    color: #fff6d3;
}

.container {
    width: 350px;
    height: 350px;
    border: 2px solid #f9a875;
    background-color: #fff6d3;
    flex: none;

    display: flex;
    flex-direction: column;
}

.container .row {
    flex: auto;
    
    display: flex;
}

.row .cell {
    flex: auto;
    background-color: #fff6d3;
}

.cell.colored {
    background-color: #eb6b6f;
    opacity: 0;
}